---
layout: default
tags: [blog, nerd, apm, javascript]
comments: false
image:
    featured: background/a0.jpg
---

<section class="container">
    {% for post in paginator.posts %}
    <article class="card post-container">
        <header>
            {% if post.image.featured %}
                <img src="{{ site.url }}/img/{{ post.image.featured }}" alt="{{ post.title }}" class="card-img-top post-image">
            {% endif %}
    
            <div class="post-meta card-block">
                <span class="post-date">
                    <time datetime="{{ post.date | date_to_xmlschema }}">
                        <a href="{{ site.url }}{{ post.url }}">
                            {{ post.date | date: "%B %d, %Y" }}
                        </a>
                    </time>
                </span>
                by
                <a href="{{ site.url }}/about/" title="About {{ site.owner.name }}" class="post-author">
                    {{ site.owner.name }}
                </a>
    
                {% if site.readingTime.enabled %}
                    <span class="post-reading-time">
                        <i class="fa fa-clock-o"></i>
                        {% include reading-time.html %}
                    </span><!-- /.post-reading-time -->
                {% endif %}
            </div><!-- /.post-meta -->
    
            <div class="post-title card-block">
                <h3 class="card-title">
                    {% if post.link %}
                        <a href="{{ site.url }}{{ post.url }}" class="permalink" rel="bookmark" title="{{ post.title }}"><i class="fa fa-bookmark"></i></a> <a href="{{ post.link }}">{{ post.title }}</a>
                    {% else %}
                        <a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a>
                    {% endif %}
                </h3>
            </div>
        </header>
    
        <div class="card-block">
            <div class="post-content card-text">
                {{ post.excerpt }}
            </div><!-- /.post-content -->
        </div>
    </article><!-- /.post-container -->
    {% endfor %}
</section>