<div class="post-social-share">
    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook">
                <i class="fa fa-facebook-square"></i> Like
            </a>
        </li>
                
        <li class="list-inline-item">
            <a href="https://twitter.com/intent/tweet?text={{ site.url }}{{ page.url }}" title="Share on Twitter">
                <i class="fa fa-twitter-square"></i> Tweet
            </a>
        </li>
        
        <li class="list-inline-item">
            <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google Plus">
                <i class="fa fa-google-plus-square"></i> +1
            </a>
        </li>
    </ul>
</div><!-- /.post-social-share -->