.post-single {
    background: white;
    
    padding: $post-padding-sm;
    @include media-breakpoint-up(md) {
      padding: $post-padding-y $post-padding-x;
    }
}

.post-meta {
  margin-top: 3rem;
  text-align: center;
}

.post-tag {
  color: white !important;
  padding: 0.3rem .6rem;
}