{% include header-html.html %}
    {% if page.image.background or site.background %}
        {% capture background %}{% if page.image.background %}{{ page.image.background }}{% else %}{{ site.background }}{% endif %}{% endcapture %}
        {% unless background contains 'http://' or background contains 'https://' %}{% capture background %}{{ site.url }}/img/{{ background }}{% endcapture %}{% endunless %}
        <style type="text/css">body { background-image: url({{ background }}); }</style>
    {% endif %}
    
    <body class="{% if page.image.featured %}featured{% endif %} {% if page.cssClass %}{{ page.cssClass | join: ' ' }}{% endif %}"{% if page.image.background or site.background %} style="background-image: url({{ background }});"{% endif %}>
{% include header-browser-upgrade.html %}

{% include header-menu.html %}

{% include header-featured.html %}
        
        <div id="main" role="main">
            {{ content }}
        </div><!-- /#main -->
    </body>
</html>