---
layout: default
---

<section class="container">
    <article class="post-container post-single">
        {{ content }}
        
        <footer class="post-meta">
            <ul class="post-tags list-inline">
                {% for tag in page.tags %}
                    <li class="list-inline-item">
                        <a href="{{ site.url }}/tags/#{{ tag }}" title="Pages tagged {{ tag }}" class="post-tag label label-default">
                            {{ tag }}
                        </a>
                    </li>
                    {% unless forloop.last %}{% endunless %}
                {% endfor %}
            </ul>
            
            {% if page.modified %}
                <div>
                    Updated on <span class="post-date"><time datetime="{{ page.modified }}">{{ page.modified | date: "%B %d, %Y" }}</time></span>
                    by <span class="post-author">{{ site.owner.name }}</span>
                </div>
            {% endif %}
            
            {% if page.share != false %}{% include social-share.html %}{% endif %}
        </footer>
    </article>
    
    {% if page.comments != false and site.disqus.enabled and site.disqus.slug %}<section id="disqus_thread" class="post-container post-single"></section><!-- /#disqus_thread -->{% endif %}
    {% if site.related_posts.size > 0 %}<section class="post-container post-single post-read_more">{% include read-more.html %}</section>{% endif %}
</section>